* {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}
body {
  max-width: 130rem;
  /* margin: 0 3.2rem; */
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: aquamarine;
}

.first {
  font-size: 1.8rem;
  color: #f7f7f7;
  background-color: #881616;
  margin-bottom: 3.2rem;
}
